body {
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', '游ゴシック', 'Yu Gothic', '游ゴシック体', YuGothic, Verdana, 'メイリオ', Meiryo, sans-serif;
  /* GoogleChromeのバグ対策 */
  font-weight: 500;
}

.grid-container {
  display: grid;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 150px 200px 150px 220px 100px 150px 200px;
}

.grid-container img {
  width: calc(100% - 40px);
  height: 100%;
  object-fit: cover;
}

.info-title, .info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666;
  color: #fff;
  width: calc(100% - 40px);
}

.info-list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  width: calc(100% - 40px);
}

.info-list ul {
  padding-left: 20px;
}

@media (min-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 150px 150px 300px 100px 200px 300px;
    grid-template-areas: 
        "info-title info-list"
        "photo1 photo1"
        "photo2 photo3"
        "info-text info-text"
        "photo4 photo4"
        "photo5 photo5"
    ;
  }

  /*gridarea定義*/

.info-title {
  grid-area: info-title;
}

.info-list {
  grid-area: info-list;
}

.info-text {
  grid-area: info-text;
}

.photo1 {
  grid-area: photo1;
}

.photo2 {
  grid-area: photo2;
}

.photo3 {
  grid-area: photo3;
}

.photo4 {
  grid-area: photo4;
}

.photo5 {
  grid-area: photo5;
}

}